.env
.env.local

*.log
*.DS_Store
*.ipynb
*.ipynb_checkpoints

bin/
data-engine/outputs/
research-notebooks/

.vscode/

# Data 
*.csv
*.json
!package.json
!tsconfig.json
!.eslintrc.json
!.prettierrc.json
!.tsconfig.json
*.parquet
