.env
.env.local

*.log
*.DS_Store
*.ipynb
*.ipynb_checkpoints

research-notebooks/

.vscode/

# External Folder 
polar/

# Data 
*.csv
*.json
!.eslintrc.json
!.prettierrc.json
!.tsconfig.json
*.parquet